<!DOCTYPE HTML>
<html>

<head>
	<title>排行榜信息</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/bootstrap.js"></script>
</head>

<body class="is-preload">

	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="index">ToString</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="index">Home</a></li>
								<li><a href="generic">Ranking list</a></li>
								<li><a href="elements">Search</a></li>
								<li><a href="heat">Heat</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<article id="main">
			<section id = "banner">
				<div class="inner">
				<h2>排行榜</h2>
				<p>ranking list</p>
			<a href="#ranking" class="more scrolly">Learn More</a>
				</div>
			</section>
			<div style="height: 800px;">
			<div class="wrapper style5" id="ranking"  style="width: 50%;height: 680px; float: left;">
				
				<div class="inner" style="width: 50%;">
					<h3>涨粉榜</h3>
					<ul class="list-group" >
						<li class="list-group-item">Name：<span class="badge" style="color:red;background:lightcoral;">1</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightgreen;">2</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:red;background:lightsalmon;">3</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:pink;">4</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightblue;">5</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:red;background:lightgray;">6</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightseagreen;">7</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightsalmon;">8</span></li>
					</ul>

				</div>
				<div class="inner" style="width: 50%;">
					<h3>掉分榜</h3>
					<ul class="list-group" >
						<li class="list-group-item">Name：<span class="badge" style="color:red;background:lightcoral;">1</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightgreen;">2</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:red;background:lightsalmon;">3</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:pink;">4</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightblue;">5</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:red;background:lightgray;">6</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightseagreen;">7</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightsalmon;">8</span></li>
					</ul>
				</div>
				
			</div>
			<div class="wrapper style5" id="ranking"  style="width: 50%;height: 680px; float: right;">
				
				<div class="inner" style="width: 50%;">
					<h3>粉丝总榜</h3>
					<ul class="list-group" >
						<li class="list-group-item">Name：<span class="badge" style="color:red;background:lightcoral;">1</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightgreen;">2</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:red;background:lightsalmon;">3</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:pink;">4</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightblue;">5</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:red;background:lightgray;">6</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightseagreen;">7</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightsalmon;">8</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:red;background:lightcoral;">9</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightgreen;">10</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:red;background:lightsalmon;">11</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:pink;">12</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightblue;">13</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:red;background:lightgray;">14</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightseagreen;">15</span></li>
						<li class="list-group-item">Name：<span class="badge" style="color:green;background:lightsalmon;">16</span></li>
					</ul>
				</div>
				
			</div>
		</div>
		</article>

		<!-- Footer -->
		<footer id="footer">
			
			<ul class="copyright">
				<li> ToString</li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.scrollex.min.js"></script>
	<script src="/assets/js/jquery.scrolly.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>

</body>

</html>