<!DOCTYPE HTML>
<html>

<head>
	<title>排行榜信息</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/bootstrap.js"></script>
	<script src="/assets/js/echarts.js"></script>

</head>

<body class="is-preload">

	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="index">ToString</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="index">Home</a></li>
								<li><a href="generic">Ranking list</a></li>
								<li><a href="elements">Search</a></li>
								<li><a href="heat">Heat</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<article id="main">
			<section id="banner">
				<div class="inner">
					<h2>排行榜</h2>
					<p>ranking list</p>
					<a href="#ranking" class="more scrolly">Learn More</a>
				</div>
			</section>


			<div id="ranking">
				<div class="container-top" id="list">
					<ul>
						<li><a href="#firstrank">粉丝涨粉榜</a></li>
						<li><a href="#secondrank">粉丝掉粉榜</a></li>
						<li><a href="#thridrank">粉丝总数榜</a></li>
					</ul>
				</div>
				<div class="container-bottom" id="item">
					<div class="con" id="firstrank">
						<div style="height: 1000px;">
							<div class="wrapper style5" id="rankingrise"
								style="width: 100%;height: 1000px;margin-bottom: 5px; float: left;background:url('assets/css/images/bili1.jpg');cursor:pointer;border:no; opacity: 100%; background-size: cover;">

								<div class="inner" id="rise" style="height: 800px;
								width:80%;height:800px;border:no; background-size: cover;">
								</div>
								<script type="text/javascript">
									// 基于准备好的dom，初始化echarts实例
									var myChart1 = echarts.init(document.getElementById('rise'));
									option = {
										title: {
											text: "涨粉排行榜"
										},
										//color: ['#3398DB'],
										tooltip: {
											trigger: 'axis',
											backgroundColor: 'rgba(255,255,255,0.8)',
											extraCssText: 'box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);',
											textStyle: {
												color: '#6a717b',
											},

										},
										grid: {
											left: '2%',
											right: '3%',
											bottom: '0%',
											containLabel: true
										},
										yAxis: [{
											type: 'category',
											data: ['up1', 'up2', 'up3', 'up4', 'up5', 'up6', 'up7', 'up8', 'up9', 'up10'],
											inverse: true,
											axisTick: {
												alignWithLabel: true,


											},
											axisLabel: {
												margin: 10,
												textStyle: {
													fontSize: 18,
													color: 'purple'
												}
											},
											axisLine: {
												show: false
											},

										}],
										xAxis: [{
											type: 'value',
											axisLabel: {
												show: false
											},
											axisLine: {
												show: false
											},
											splitLine: {
												show: false
											}



										}],
										//backgroundColor: '#192469',
										series: [{

											name: '粉丝Top',
											type: 'bar',
											barWidth: 26,
											data: [8827896, 7472072, 7433391, 7137253, 6382192, 5268842, 4827026, 3935701, 3875562,
												3839609
											],
											label: {
												normal: {
													show: true,
													position: 'insideRight',
													textStyle: {
														color: 'white' //color of value
													}
												}
											},


											itemStyle: {

												normal: {
													color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [{
														offset: 0,
														color: '#FFAF60' // 0% 处的颜色
													}, {
														offset: 1,
														color: '#FF95CA' // 100% 处的颜色
													}], false),
													barBorderRadius: [0, 15, 15, 0],
													shadowColor: 'rgba(0,0,0,0.1)',
													shadowBlur: 3,
													shadowOffsetY: 3
												}
											}
										}]
									};
									myChart1.setOption(option);
								</script>


							</div>

						</div>
					</div>

					<div class="con" id="secondrank">
						<div style="height: 1000px;">
							<div class="wrapper style5" id="rankingloss"
								style="width: 100%;height: 1000px;margin-bottom: 5px; float: left;background:url('assets/css/images/bili4.jpg');cursor:pointer;border:no; opacity: 100%; background-size: cover;">

								<div class="inner" id="loss" style="height: 800px;
								width:80%;height:800px;border:no; background-size: cover;">
								</div>
								<script type="text/javascript">
									// 基于准备好的dom，初始化echarts实例
									var myChart2 = echarts.init(document.getElementById('loss'));
									option = {
										title: {
											text: "掉粉排行榜"
										},
										//color: ['#3398DB'],
										tooltip: {
											trigger: 'axis',
											backgroundColor: 'rgba(255,255,255,0.8)',
											extraCssText: 'box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);',
											textStyle: {
												color: '#6a717b',
											},

										},
										grid: {
											left: '2%',
											right: '3%',
											bottom: '0%',
											containLabel: true
										},
										yAxis: [{
											type: 'category',
											data: ['up1', 'up2', 'up3', 'up4', 'up5', 'up6', 'up7', 'up8', 'up9', 'up10'],
											inverse: true,
											axisTick: {
												alignWithLabel: true,


											},
											axisLabel: {
												margin: 10,
												textStyle: {
													fontSize: 18,
													color: 'purple'
												}
											},
											axisLine: {
												show: false
											},

										}],
										xAxis: [{
											type: 'value',
											axisLabel: {
												show: false
											},
											axisLine: {
												show: false
											},
											splitLine: {
												show: false
											}



										}],
										//backgroundColor: '#192469',
										series: [{

											name: '粉丝Top',
											type: 'bar',
											barWidth: 26,
											data: [8827896, 7472072, 7433391, 7137253, 6382192, 5268842, 4827026, 3935701, 3875562,
												3839609
											],
											label: {
												normal: {
													show: true,
													position: 'insideRight',
													textStyle: {
														color: 'white' //color of value
													}
												}
											},


											itemStyle: {

												normal: {
													color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [{
														offset: 0,
														color: '#FF95CA' // 0% 处的颜色
													}, {
														offset: 1,
														color: '#AE57A4' // 100% 处的颜色
													}], false),
													barBorderRadius: [0, 15, 15, 0],
													shadowColor: 'rgba(0,0,0,0.1)',
													shadowBlur: 3,
													shadowOffsetY: 3
												}
											}
										}]
									};
									myChart2.setOption(option);
								</script>


							</div>

						</div>
						
					</div>

					<div class="con" id="thridrank">
						<div style="height: 1000px;">
							<div class="wrapper style5" id="rankingall"
								style="width: 100%;height: 1000px; float: left;background:url('assets/css/images/bili2.jpg');cursor:pointer;border:no; opacity: 100%; background-size: cover;">

								<div class="inner" id="all" style="height: 800px;
								width:80%;height:800px;border:no; background-size: cover;">
								</div>
								<script type="text/javascript">
									// 基于准备好的dom，初始化echarts实例
									var myChart3 = echarts.init(document.getElementById('all'));
									option = {
										title: {
											text: "粉丝数排行榜"
										},
										//color: ['#3398DB'],
										tooltip: {
											trigger: 'axis',
											backgroundColor: 'rgba(255,255,255,0.8)',
											extraCssText: 'box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);',
											textStyle: {
												color: '#6a717b',
											},

										},
										grid: {
											left: '2%',
											right: '3%',
											bottom: '0%',
											containLabel: true
										},
										yAxis: [{
											type: 'category',
											data: [],
											inverse: true,
											axisTick: {
												alignWithLabel: true,


											},
											axisLabel: {
												margin: 10,
												textStyle: {
													fontSize: 18,
													color: 'purple'
												}
											},
											axisLine: {
												show: false
											},

										}],
										xAxis: [{
											type: 'value',
											axisLabel: {
												show: false
											},
											axisLine: {
												show: false
											},
											splitLine: {
												show: false
											}



										}],
										//backgroundColor: '#192469',
										series: [{

											name: '粉丝Top',
											type: 'bar',
											barWidth: 26,
											data: [],
											label: {
												normal: {
													show: true,
													position: 'insideRight',
													textStyle: {
														color: 'white' //color of value
													}
												}
											},


											itemStyle: {

												normal: {
													color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [{
														offset: 0,
														color: '#C2C287' // 0% 处的颜色
													}, {
														offset: 1,
														color: '#FF9797' // 100% 处的颜色
													}], false),
													barBorderRadius: [0, 15, 15, 0],
													shadowColor: 'rgba(0,0,0,0.1)',
													shadowBlur: 3,
													shadowOffsetY: 3
												}
											}
										}],
										dataZoom: [{
												type: 'slider',
												show: true,
												yAxisIndex: [0],
												left: '93%',
												start: 0, //数据窗口范围的起始百分比
												end: 20
											},
											
										]

									};
									myChart3.setOption(option);
								</script>


							</div>

						</div>
					</div>

				</div>




		</article>

		<!-- Footer -->
		<footer id="footer">

			<ul class="copyright">
				<li> ToString</li>
			</ul>
		</footer>

	</div>

	<script type="text/javascript">
		function localDataAndShow(){
			$.ajax({
				type: 'get',
				url: '/info/getTopUpFans',
				dataType: 'json',
				async:true,
				success:function (result) {
					var name1 = []
					var fans1 = []
					for(var i=0;i<50;i++){
						name1.push(result[i].name)
						fans1.push(result[i].fans)
					}

					myChart3.setOption({
						yAxis: [{
							data: name1
						}],
						//backgroundColor: '#192469',
						series: [{
							data: fans1
						}]
					});
				},
				error: function () {
					alert("Data is Error.");
				}
			})

			$.ajax({
				type: 'get',
				url: '/info/getTopDecreasingUp',
				dataType: 'json',
				async:true,
				success:function (result) {
					var name2 = []
					var fans2 = []
					for(var i=0;i<10;i++){
						name2.push(result[i].name)
						fans2.push(result[i].change)
					}

					myChart2.setOption({
						yAxis: [{
							data: name2
						}],
						//backgroundColor: '#192469',
						series: [{
							data: fans2
						}]
					});
				},
				error: function () {
					alert("Data is Error.");
				}
			})

			$.ajax({
				type: 'get',
				url: '/info/getTopIncreasingUp',
				dataType: 'json',
				async:true,
				success:function (result) {
					var name3 = []
					var fans3 = []
					for(var i=0;i<10;i++){
						name3.push(result[i].name)
						fans3.push(result[i].change)
					}

					myChart1.setOption({
						yAxis: [{
							data: name3
						}],
						//backgroundColor: '#192469',
						series: [{
							data: fans3
						}]
					});
				},
				error: function () {
					alert("Data is Error.");
				}
			})
		}
		localDataAndShow()
	</script>
	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.scrollex.min.js"></script>
	<script src="/assets/js/jquery.scrolly.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>

</body>

</html>